.doneButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background: #FFCE22;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #1F2128;
    width: 100%;
}

.doneButton:hover {
    background: #f5c41f;
}

.doneButton:active {
    background: #e6b71c;
}