.pageSelector {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 0px 4px rgba(20, 20, 20, 0.1), 0px 8px 15px rgba(20, 20, 20, 0.12);
    border-radius: 6px;
    background-color: white;
    width: 370px;
    box-sizing: border-box;
}

.pageSelector>* {
    padding: 0.5rem 0;
}

.separator {
    height: 1px;
    background-color: #e5e7eb;
    margin: 0;
    padding: 0;
    width: 100%;
}