.pageSelector {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 14px;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 0px 4px rgba(20, 20, 20, 0.1), 0px 8px 15px rgba(20, 20, 20, 0.12);
    border-radius: 6px;
    background-color: white;
    width: 370px;
    box-sizing: border-box;
    gap: 0.5rem;
}

.separator {
    height: 0.1px;
    background-color: #CDCDCD;
    width: 100%;
}

.button {
    margin-block: 0.5rem;
}