.checkboxLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #1F2128;
    user-select: none;
    width: 100%;
}

.checkboxInput {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.checkboxCustom {
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid #CDCDCD;
    border-radius: 6px;
    background: #FFFFFF;
    transition: all 0.2s ease;
    flex-shrink: 0;
}

.checkboxCustom::after {
    content: '';
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 8px;
    height: 16px;
    border: solid transparent;
    border-width: 0 1px 1px 0;
    transform-origin: center;
    transition: all 0.2s ease;
}

.checkboxInput:checked+.checkboxCustom {
    background: #5087F8;
    border-radius: 6px;
    border-color: transparent;
}

.checkboxInput:checked+.checkboxCustom::after {
    transform: translate(-50%, -60%) rotate(45deg) scale(1);
    border-color: white;
}

.checkboxLabel:hover .checkboxCustom {
    border: 1px solid #BDBDBD;
    border-radius: 6px;
}

.checkboxLabel:hover .checkboxInput:checked+.checkboxCustom {
    background: #5087F8;
    border: 1px solid #5087F8;
    border-radius: 6px;
}

.checkboxLabel:hover .checkboxInput:not(:checked)+.checkboxCustom::after {
    transform: translate(-50%, -60%) rotate(45deg) scale(1);
    border-color: #E3E3E3;
}